apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
asgiref==3.5.0
beautifulsoup4==4.11.1
btrfsutil==5.16.2
caffeine-ng==3.5.1
certifi==2021.10.8
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.1.2
configobj==5.0.6
distro==1.7.0
Django==4.0.4
django-phonenumber-field==6.1.0
dnspython==2.2.1
ewmh==0.1.6
filelock==3.6.0
GNOME-App-Folders-Manager==0.4.3
gufw==22.4.0
idna==3.3
importlib-metadata==4.11.3
layoutswitcherlib==0.8.24
LibAppArmor==3.0.4
libfdt==1.6.1
lit==14.0.0
louis==1.3
manjaro-sdk==0.1
Markdown==3.3.6
more-itertools==8.12.0
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.1.0
packaging==21.3
pacman-mirrors==4.23.2
phonenumbers==8.12.47
phonenumberslite==8.12.46
Pillow==9.1.0
psycopg2-binary==2.9.3
pulsectl==22.3.2
pwquality==1.4.4
pycairo==1.21.0
PyGObject==3.42.1
pyparsing==3.0.8
PyQt5==5.15.6
PyQt5-sip==12.10.1
PySide6==6.3.0
pysmbc==1.0.23
python-xlib==0.31
pyxdg==0.27
ranger-fm==1.9.3
reportlab==3.6.9
requests==2.27.1
requests-file==1.5.1
setproctitle==1.2.3
shiboken6==6.3.0
signals==0.0.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
systemd-python==234
team==1.0
tldextract==3.2.1
tzdata==2022.1
ufw==0.36.1
urllib3==1.26.9
validate==1.0.1
zipp==3.8.0
