{% load static %}
{% load cache %}
<!doctype html>
<html lang="zxx">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Icon Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/iconplugins.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="{% static 'css/theme-dark.css' %}">



    <!-- Title -->
    <title>Sisy`s - Nail & Beauty Salon</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
{#<!-- Pre Loader -->#}
{#        <div id="preloader">#}
{#            <div id="preloader-area">#}
{#                <div class="spinner"></div>#}
{#                <div class="spinner"></div>#}
{#                <div class="spinner"></div>#}
{#            </div>#}
{#            <div class="preloader-section preloader-left"></div>#}
{#            <div class="preloader-section preloader-right"></div>#}
{#        </div>#}
{#        <!-- End Pre Loader -->#}
<body>
<!-- Top Header -->
<header class="top-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-9">
                <div class="header-left">
                    <ul>
                        <li>
                            <i class="flaticon-email"></i>
                            <a href="mailto:info@sisi.com">info@sisi.com</a>
                        </li>
                        <li>
                            <i class="flaticon-telephone"></i>
                            <a href="tel:+34-456-778">+34 456 778</a>
                        </li>
                        <li>
                            <i class="flaticon-clock"></i>
                            Just call to make an appointment
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-3">
                <div class="header-right">
                    <ul class="social-links">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/" target="_blank">
                                <i class="flaticon-vimeo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->


{% block content %}

{% endblock %}

<!-- Footer Area -->
<footer class="footer-area footer-bg">
    <div class="container pt-100 pb-70">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget pe-5">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="{% static 'images/logos/logo.png' %}" class="footer-logo1" alt="Images">
                        </a>
                        <a href="index.html">
                            <img src="{% static 'images/logos/logo-white.png' %}" class="footer-logo2" alt="Images">
                        </a>
                    </div>
                    <p>
                        Pellentesque habitant morbi tristique senectus netus malesuada fames ac turpis egestas vesti
                        ulum tortor quam bulum tortor feugiat
                    </p>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/" target="_blank">
                                <i class="ri-vimeo-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pe-2">
                    <h3>Our Newsletter</h3>
                    <form class="newsletter-form" data-toggle="validator" method="POST">
                        <input type="email" class="form-control" placeholder="Enter Your Email Address" name="EMAIL"
                               required autocomplete="off">
                        <button class="subscribe-btn" type="submit">
                            Subscribe Now <i class="flaticon-paper-plane"></i>
                        </button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget ps-4">
                    <h3>Salon Hours</h3>
                    <ul class="salon-hours">
                        <li>
                            <div class="content">
                                <h3>Monday - Friday</h3>
                                <span>09:00 AM - 10:00 PM </span>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h3>Saturday - Sunday</h3>
                                <span>10:00 AM - 08:00 PM </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget ps-3">
                    <h3>Get In Touch</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="flaticon-telephone"></i>
                            <div class="content">
                                <h4>Contact Us</h4>
                                <span><a href="tel:+123456778" target="_blank">+123 456 778</a></span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="content">
                                <h4>Email:</h4>
                                <span><a href="mailto:hello@naon.com" target="_blank">hello@naon.com</a></span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-pin"></i>
                            <div class="content">
                                <h4>Address</h4>
                                <span>151, Demo Store United States</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copyright Area -->
<div class="copyright-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>
                Copyright @
                <script>document.write(new Date().getFullYear())</script>
                <b>Kiko</b> | @me
            </p>
        </div>
    </div>
</div>
<!-- Copyright Area End -->


<!-- Jquery Min JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Custom  JS -->
<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/meanmenu.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/tweenMax.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
</body>
</html>
