{% load static %}
<!doctype html>
<html lang="zxx">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <!-- Icon Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/iconplugins.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="{% static 'css/theme-dark.css' %}">


    <!-- Title -->
    <title>Sisy`s - Nail & Beauty Salon</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>


{% include 'partial/header.html' %}
{% include 'partial/navbar.html' %}
{% include 'partial/modal.html' %}
<body>
{% block content %}

{% endblock %}
<script src="{% static '/js/jquery.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static '/js/plugins.js' %}"></script>
<!-- Custom  JS -->
<script src="{% static '/js/custom.js' %}"></script>
</body>
{% include 'partial/footer.html' %}

{% include 'partial/copyright.html' %}


<!-- Jquery Min JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/meanmenu.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/tweenMax.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>

</html>
