{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Pre Loader -->
<div id="preloader">
    <div id="preloader-area">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
    </div>
    <div class="preloader-section preloader-left"></div>
    <div class="preloader-section preloader-right"></div>
</div>
<!-- End Pre Loader -->
<!-- Banner Area -->
<div class="banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-slider owl-carousel owl-theme">
                    <div class="banner-content">
                        <span>Nail and Beauty Salon</span>
                        <h1>Experience In Nail Care</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut elit tellus luctus nec ullamcorper
                            mattis pulvinar dapibus leo consectetur</p>
                        <a href="about.html" class="learn-btn">Learn More <i
                                class="flaticon-arrow-pointing-to-right"></i></a>
                    </div>

                    <div class="banner-content">
                        <span>Nail and Beauty Salon</span>
                        <h1>Your Nail is Our Best Advert</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut elit tellus luctus nec ullamcorper
                            mattis pulvinar dapibus leo consectetur</p>
                        <a href="about.html" class="learn-btn">Learn More <i
                                class="flaticon-arrow-pointing-to-right"></i></a>
                    </div>

                    <div class="banner-content">
                        <span>Nail and Beauty Salon</span>
                        <h1>Your Best Nail Affair Salon</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut elit tellus luctus nec ullamcorper
                            mattis pulvinar dapibus leo consectetur</p>
                        <a href="about.html" class="learn-btn">Learn More <i
                                class="flaticon-arrow-pointing-to-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="banner-img" data-speed="0.05" data-revert="true">
                    <div class="woman">
                        <img src="{% static 'images/home-one/woman.png' %}" data-aos="fade-up" data-aos-delay="900"
                             data-aos-duration="1000" data-aos-once="true" alt="Banner"/>
                        <div class="vector" data-aos="fade-down" data-aos-delay="900" data-aos-duration="1000"
                             data-aos-once="true">
                            <img src="{% static 'images/home-one/home-vector.png' %}" alt="vector"/>
                        </div>
                    </div>
                    <div class="nail-img" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000"
                         data-aos-once="true">
                        <img src="{% static 'images/home-one/nail-img.jpg' %}" alt="Nail"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- QuickView Modal Area -->
<div class="modal fade productsQuickView" id="productsQuickView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close-on" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='flaticon-close'></i></span>
            </button>
            <div class="product-details-desc">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="products-quickView-image">
                            <img src="{% static 'images/products/product-details.png' %}" alt="Product Details">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="product-desc mb-30 pl-20">
                            <h3>Nail Polish Removers </h3>
                            <div class="price">
                                <span class="old-price">$140.00 </span>
                                <span class="new-price">- $110.00</span>
                            </div>
                            <div class="product-review">
                                <div class="rating">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                                <div class="rating-count">255 Reviews</div>
                            </div>
                            <p>
                                Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi.
                            </p>
                            <ul class="product-category-list">
                                <li>Availablity: <span>In Stock</span></li>
                                <li>Tags: <span>Nail, Lover</span></li>
                            </ul>
                            <div class="input-counter-area">
                                <h4>Quantity</h4>
                                <div class="input-counter">
                                    <span class="minus-btn"><i class="ri-add-fill"></i></span>
                                    <input type="text" value="1">
                                    <span class="plus-btn"><i class="ri-subtract-line"></i></span>
                                </div>
                            </div>

                            <div class="product-add-btn">
                                <button type="submit" class="default-btn border-radius-5">
                                    Add To Cart <i class="flaticon-shopping-cart-empty-side-view"></i>
                                </button>
                                <ul class="products-action">
                                    <li><a href="compare.html"> <i class="ri-arrow-left-right-line"></i></a></li>
                                    <li><a href="wishlist.html"><i class="ri-heart-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-share">
                                <ul>
                                    <li>
                                        <span>Share:</span>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://vimeo.com/" target="_blank">
                                            <i class="ri-vimeo-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- QuickView Modal Area End -->
<!-- Modal Start -->
<div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-search-form">
                    <input type="search" class="search-field" placeholder="Search...">
                    <button type="submit"><i class="ri-search-line"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->



<!-- Features Area -->
<div class="features-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="features-card">
                    <div class="img">
                        <img src="{% static 'images/features/features-img1.jpg' %}" alt="features"/>
                    </div>
                    <div class="content">
                        <div class="top-icon">
                            <i class="flaticon-make-up"></i>
                        </div>
                        <h3>LED Cured Gel Polish</h3>
                        <div class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="features-card">
                    <div class="img">
                        <img src="{% static 'images/features/features-img2.jpg' %}" alt="features"/>
                    </div>
                    <div class="content">
                        <div class="top-icon">
                            <i class="flaticon-relax"></i>
                        </div>
                        <h3>No Damaging Acrylics</h3>
                        <div class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="features-card">
                    <div class="img">
                        <img src="{% static 'images/features/features-img3.jpg' %}" alt="features"/>
                    </div>
                    <div class="content">
                        <div class="top-icon">
                            <i class="flaticon-makeup"></i>
                        </div>
                        <h3>Nail Experts Burlington</h3>
                        <div class="more-btn">
                            <i class="flaticon-arrow-pointing-to-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Area End -->

    <!-- Jquery Min JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Custom  JS -->
<script src="{% static 'js/custom.js' %}"></script>


{% endblock %}
